<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">

	<!-- <select id="listDao" resultType="proj.ecom.user.domain.UserDTO">
		select * from user1
	</select>
	
	<insert id="writeDao">
		INSERT INTO user1 VALUES (2)
	</insert>
	 -->
	<!-- <delete id="deleteDao">
		DELETE FROM Mybatis_Bbs WHERE id = #{param1}
	</delete> -->
	<insert id="insertUser">
		<![CDATA[
		insert into ecommerce_user values 
		(#{user_id},#{user_pw},#{user_name},#{user_type},#{user_birthdate},#{user_gender},#{user_address},#{user_phonenumber})
		]]>
	</insert>
	<select id="selectUser" resultType="proj.ecom.user.domain.UserDTO">
		select * from ecommerce_user where user_id=#{user_id} and user_pw=#{user_pw}
	</select>
	<update id="updateUser">
		<![CDATA[
		update ecommerce_user set (user_pw=#{user_pw},user_name=#{user_name},user_gender=#{user_gender},user_address=#{user_address},user_phonenumber=#{user_phonenumber}) where user_id=#{user_id}
		]]>
	</update>
</mapper>
